@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Yeseva+One&display=swap');

@import url("components/container.css");
@import url("components/Founder.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/option.css");
@import url("components/footer.css");

body{
    font-family: 'Josefin Sans';
    font-size: 18px;
    margin: 0px;
    background-color: #f5efdc;
    color: rgb(24, 37, 0);

}
h1, h2 {
    font-family: 'Yeseva One';
    font-weight: bold;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 40px;
   
}

h3 {
    font-family:'Josefin Sans';
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    
}
a {
    text-decoration: none;
}

p {
    text-align: center;
}


.list-inline{
    list-style: none;
    padding-left: 0px;
}
.list-inline li{
    display: inline;
    padding: 10px;

}

.list-inline i{
    font-size: 40px;
}

